
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.left-sidebar-con{
    width: 300px;
    background-color: #0E1113;
    border-right: 1px solid #3E4142;
    position: fixed;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 17px;
    color: #fff;
    font-size: 15px;
    height: 850px;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    gap: 20px;
    user-select: none;
}

.left-sidebar-con:hover{
    overflow-y: auto;
}

.left-sidebar-con::-webkit-scrollbar {
    width: 7px;
}
  
.left-sidebar-con::-webkit-scrollbar-thumb {
    background-color: #3E4142; 
    border-radius: 5px;
}

/* Nav Start */

.left-sidebar-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    width: 240px;
    height: auto;
}

.nav-option{
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

.nav-option:hover{
    background-color: #181C1F;
    cursor: pointer;
}

/* Nav End */

/* Line Start */
.line{
    display: block;
    width: 260px;
    height: 1px;
    background-color: #26282A;
    flex-shrink: 0;
}
/* Line End */

/* Custom Feeds and Recent Start */

.create-cont{
    display: flex;
    flex-direction: column;
    width: 280px;
    // height: 90px;
    padding: 10px 17px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.arrow{
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.show-hide-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.show-hide-btn, .add-create, .recent-icon{
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 8px;
}

.add-create, .recent-icon{
    gap: 17px;
    align-items: center;
    padding-left: 17px;
    font-size: 17px;
}

.show-hide-btn {
    span{
        color: #748791;
    }
}

.show-hide-btn{
    svg{
        height: 20px;
        width: 20px;
    }
}

.show-hide-btn:hover, .add-create:hover, .recent-icon:hover{
    background-color: #181C1F;
    cursor: pointer;
}

.rounded-full{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
/* Custom Feeds and Recent End */

.communities_options{
    display: flex;
    gap: 17px;
    align-items: center;
    padding-left: 17px;
    font-size: 17px;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    position: relative;
}

.communities_options:hover{
    background-color: #181C1F;
    cursor: pointer;
}

.communities_options{
    button{
        background-color: transparent;
        border: none;
        border-radius: 50%;
        margin-left: 20px;
        position: absolute;
        right: 10px;
        height: 32px;
        width: 32px;
    }

    button:hover{
        background-color: #525455;
        cursor: pointer;
    }
}

.star{
    color: #fff;
}

.resources-option{
    width: 100%;
    height: 40px;
    padding-left: 17px;
    font-size: 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.resources-option:hover{
    background-color: #181C1F;
    cursor: pointer;
}

.resources-option{
    svg{
        width: 20px;
        height: 20px;
    }
    .line{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.marg-bottom{
    margin-bottom: 10px;
}

.marg-top{
    margin-top: 10px;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 30px;
}

footer{
    a{
        text-decoration: none;
        color: #ACACAC;
    }

    a:hover{
        text-decoration: underline;
    }
}

  .arrow.closed {
    transform: rotate(180deg);
  }
  
  .arrow.open {
    transform: rotate(0deg);
  }
