
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.left-sidebar-con{
    width: 300px;
    background-color: #0E1113;
    border-right: 1px solid #3E4142;
    position: fixed;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 17px 10px 17px;
    color: #fff;
    font-size: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.left-sidebar-con::-webkit-scrollbar {
    width: 10px;
  }
  
.left-sidebar-con::-webkit-scrollbar-thumb {
    background-color: #3E4142; 
    border-radius: 5px;
}

/* Nav Start */

.left-sidebar-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    width: 240px;
    height: auto;
    margin-bottom: 5px;
}

.nav-option{
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

.nav-option:hover{
    background-color: #181C1F;
    cursor: pointer;
}

/* Nav End */

/* Line Start */
.line{
    display: block;
    width: 260px;
    height: 1px;
    background-color: #26282A;
}
/* Line End */

/* Custom Feeds and Recent Start */

.custom-feeds, .recent-cont{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 90px;
    padding: 10px 17px 10px 17px;
    margin-bottom: 6px;
}

.show-hide-btn{
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.arrow{
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    transform-origin: center;
}

.show-hide-btn, .add-custom-feeds, .recent-icon{
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 8px;
}

.add-custom-feeds, .recent-icon{
    gap: 12px;
    align-items: center;
    padding-left: 17px;
}

.show-hide-btn span{
    color: #748791;
}

.show-hide-btn svg{
    height: 20px;
    width: 20px;
}

.show-hide-btn:hover, .add-custom-feeds:hover, 
.show-recent:hover{
    background-color: #181C1F;
    cursor: pointer;
}

.rounded-icon{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
/* Custom Feeds and Recent End */

.dummy{
    width: 100px;
    height: 100px;
}