*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.info-cont{
    width: 300px;
    height: 2305px;
    background-color: #090706;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-cont:hover{
    overflow-y: auto;
}

.info-cont::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}
  
.info-cont::-webkit-scrollbar-thumb {
    background-color: #3E4142; 
    border-radius: 5px;
}

.info-top-con{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 8px;
    gap: 5px;
    p{
        margin-bottom: 5px;
    }
    p, svg{
        color: #9f8e80;
    }
}

.info-top-title{
    color: #C3B2A3;
    font-weight: 700;
    font-size: 14px;
}

.info-top-additional-first, .info-top-additional-second{
    display: flex;
    gap: 5px;
    align-items: center;
}

.info-top-additional-second{
    margin-bottom: 5px;
}

.info-top-small-text{
    color: #C3B2A3;
    font-size: 12px;
}

.members-and-online{
    display: flex;
    gap: 80px;
}

.members, .online{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 12px;
}

.numbers{
    color: #fff;
    font-size: 14px;
}

.online-green{
    background-color: #01A816;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
}

.info-line{
    width: 300px;
    height: 1px;
    background-color: #211F1E;
    flex-shrink: 0;
}

.community-bookmarks-top{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
    span{
        color: #C3B2A3;
        font-size: 12px;
    }
    a{
        width: 100%;
        border-radius: 15px;
        text-align: center;
        padding: 5px 0;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background-color: #2A2420;
    }
    a:hover{
        text-decoration: underline;
        background-color: #342E29;
    }   
}

#community-bookmarks-top-diff:hover{
    text-decoration: none;
}

#community-bookmarks-top-diff{
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        height: 16px;
        width: 16px;
    }
}

.important-links-cont{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 10px;
    span{
        color: #9f8e80;
        font-weight: 600;
        font-size: 14px;
    }
    a{
        color: #ac9d82;
        font-weight: 600;
        font-size: 14px;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
        list-style: disc;
        margin-left: 15px;
    }
    ul li::before {
        content: "•"; 
        color: #ac9d82; 
        font-size: 20px;
        margin-right: 10px; 
    }
}

.rules-cont{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #9f8e80;
    svg{
        color: #fff;
    }
}

.rules-title{
    margin-left: 10px;
}

.rule-num-text{
    display: flex;
    gap: 15px;
}

.rule{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 12px 8px 25px;
}

.rule:hover{
    background-color: #201C18;
    cursor: pointer;
}

.voting-guide-cont{
    display: flex;
    flex-direction: column;
    color: #9f8e80;
    padding-left: 12px;
    padding-top: 8px;
    gap: 17px;
    font-size: 15px;
}

.flair-cont{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 12px;
    padding-top: 8px;
    span{
        color: #9f8e80;
        font-size: 15px;
    }
    button{
        border-radius: 20px;
        padding: 8px 10px;
        border: none;
    }
}

.flair-options{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#flair-asshole{
    color: #fff;
    background-color: #B8001F;
}

#flair-not-asshole{
    background-color: #7193FF;
    color: #fff;
}

#flair-everyone-sucks{
    color: #fff;
    background-color: #CC3600;
}

#flair-not-a-hole-here{
    color: #fff; 
    background-color: #00FF99;
}

#flair-ended{
    color: #fff;
    background-color: #CC8B00;
}

#flair-update, #flair-meta, #flair-open, #flair-best{
    color: black;
    background-color: #FFD635;
}

#flair-live{
    color: #fff;
    background-color: #FF4500;
}

.related-communities-cont{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 12px;
    padding-top: 8px;
}

.related-communities-title{
    font-size: 15px;
    color: #9f8e80;
}

.related-community{
    display: flex;
    padding: 5px 18px 5px 5px;
    width: 100%;
    justify-content: space-between;
    img{
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }
}

.related-community-text-con{
    display: flex;
    flex-direction: column;
    gap: 3px;

}

.related-img-text{
    display: flex;
    gap: 5px;
}

.related-join{
    border-radius: 20px;
    background-color: #342E29;
    color: #fff;
    padding: 8px 13px 8px 13px;
    border: none;
    display: none;
    cursor: pointer;
}

.related-community:hover .related-join {
    display: inline-block;
}

.related-top-span{
    color: #d2bfb0;
    font-size: 15px;
    cursor: pointer;
}

.related-top-span:hover{
    text-decoration: underline;
}

.related-bot-span{
    color: #9f8e80;
    font-size: 13px;
}